.choose {
  padding: 100px;
  background-color: #fff7fc;
  display: flex;
  gap: 100px;

  .left {
    width: 50%;

    p {
      width: max-content;
      font-size: 25px;
      font-weight: bold;
      background: linear-gradient(to right, #0063f4, #00f0aa);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 45px;
      line-height: 1.2;
      font-weight: bold;

      b {
        position: relative;
        width: max-content;
        font-size: 45px;
        font-weight: bold;
        background: linear-gradient(to right, #0063f4, #00f0aa);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        padding: 0 20px;
      }

      img {
        position: absolute;
        bottom: -5px;
        right: 15px;
      }
    }

    span {
      display: block;
      line-height: 1.6;
      color: #555555;
      font-size: 16px;
      margin: 20px 0;
    }

    .progress {
      .title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: 20px;

        h1 {
          font-size: 20px;
        }
      }

      .container {
        height: 16px;
        background-color: #d9d9d9;
        border-radius: 30px;
        padding: 2px 0;

        .bar1 {
          width: 100%;
          height: 12px;
          background: linear-gradient(to right, #0063f4, #00f0aa);
          border-radius: 30px;
        }

        .bar2 {
          width: 95%;
          height: 12px;
          background: linear-gradient(to right, #0063f4, #00f0aa);
          border-radius: 30px;
        }

        .bar3 {
          width: 95%;
          height: 12px;
          background: linear-gradient(to right, #0063f4, #00f0aa);
          border-radius: 30px;
        }
      }
    }
  }

  .right {
    width: 50%;
    background-color: aquamarine;
    position: relative;
    display: flex;
    align-items: center;

    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 540px) {
  .choose {
    padding: 20px;
    padding-top: 50px;
    flex-direction: column;
    gap: 20px;

    .left {
      width: 100%;

      p {
        font-size: 16px;
      }

      h1 {
        font-size: 30px;

        b {
          font-size: 30px;
        }

        img {
          width: 80%;
        }
      }

      span {
        font-size: 16px;
      }
    }

    .right {
      width: 100%;
    }
  }
}
