.categories {
  padding: 100px;
  background-color: #fbfbfb;

  p {
    position: relative;
    width: max-content;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(to right, #0063f4, #00f0aa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin-bottom: 20px;
  }

  .title {
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 45px;
      line-height: 1.2;
      font-weight: bold;

      b {
        position: relative;
        width: max-content;
        font-size: 45px;
        font-weight: bold;
        background: linear-gradient(to right, #0063f4, #00f0aa);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        padding-left: 20px;
      }

      img {
        position: absolute;
        bottom: -5px;
        right: 0px;
      }
    }
  }

  .cards {
    padding-top: 50px;

    .row {
      display: flex;
      gap: 30px;
      margin-bottom: 30px;

      .card {
        width: 34%;
        height: 35vh;
        background-color: #ffebdf;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        img {
          width: 80px;
          margin-bottom: 30px;
        }

        h1 {
          font-size: 22px;
          margin-bottom: 10px;
        }
      }

      .card:nth-child(2) {
        background-color: #efffdf;
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .categories {
    padding: 20px;

    p {
      font-size: 16px;
    }

    .title {
      display: flex;
      flex-direction: column;
      gap: 20px;

      h1 {
        font-size: 30px;

        b {
          font-size: 30px;
        }

        img {
          width: 90%;
        }
      }
    }

    .cards {
      .row {
        flex-direction: column;

        .card {
          width: 100%;
          padding: 20px;

          p {
            margin: 0;
          }
        }
      }
    }
  }
}
