.main {
  background-image: url("/banner-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 130vh;
  gap: 5%;
  padding-top: 50px;

  .left {
    width: 40%;
    padding-top: 150px;
    padding-left: 100px;

    p {
      width: max-content;
      font-size: 25px;
      font-weight: bold;
      background: linear-gradient(to right, #0063f4, #00f0aa);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 70px;
      line-height: 1.2;
      font-weight: bold;

      b {
        position: relative;
        width: max-content;
        font-size: 70px;
        font-weight: bold;
        background: linear-gradient(to right, #0063f4, #00f0aa);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
        padding-left: 10px;
      }

      img {
        width: 80%;
        position: absolute;
        bottom: 0px;
        right: 0px;
      }
    }

    span {
      line-height: 1.4;
      width: 90%;
      display: block;
      margin: 30px 0;
      font-size: 20px;
      color: #555555;
    }
  }

  .right {
    padding: 20px;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .mainImage {
      width: 80%;
    }

    .card {
      background-color: white;
      border-radius: 10px;
      position: absolute;
      left: 50px;
      bottom: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15px 0;
      gap: 15px;

      div {
        border-radius: 50%;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;

        img {
          width: 40px;
        }
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .main {
    flex-direction: column;
    height: max-content;
    padding: 0;
    padding-top: 50px;
    background-position: center center;

    .left {
      width: 100%;
      padding: 20px;

      p {
        font-size: 16px;
      }

      h1 {
        font-size: 30px;
        font-weight: bold;

        b {
          font-size: 30px;
        }

        img {
          width: 80%;
        }
      }

      span {
        font-size: 20px;
      }
    }

    .right {
      width: 100%;
      padding: 20px;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      img {
        width: 100%;
      }

      .card {
        position: static;
        width: 100%;
        h1 {
          font-size: 18px;
        }

        img {
          width: 60%;
        }
      }
    }
  }
}
