.navbar {
  padding: 15px 100px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 5px 5px -3px,
    rgba(0, 0, 0, 0.043) 0px 8px 10px 1px, rgba(0, 0, 0, 0.035) 0px 3px 14px 2px;

  .logo {
    img {
      width: 130px;
    }
  }

  ul {
    list-style: none;
    display: flex;
    gap: 50px;

    li {
      a {
        text-decoration: none;
        color: #070707;
        font-weight: 700;
      }

      &:first-child {
        a {
          color: #8a47cb;
        }
      }
    }
  }

  .menu {
    display: none;

    .menuBtn {
      color: #8a47cb;
      font-size: 35px;
    }
  }
}

@media only screen and (max-width: 540px) {
  .navbar {
    padding: 20px;

    ul {
      flex-direction: column;
      gap: 0;
      height: 0;
      position: fixed;
      width: 90vw;
      top: 110px;
      left: 3vw;
      background-color: #fff;
      box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
      overflow: hidden;
      display: grid;
      grid-template-rows: 0fr;

      li {
        color: #070707;
        padding: 20px;
        height: 100%;
        border-bottom: 1px solid #efefef;
      }
    }

    .activeList {
      height: max-content;
    }

    .enroll {
      display: none;
    }

    .menu {
      display: block;
    }
  }
}
